    body{
               background-color: white;
           }

 input[type=text] {
    width: 100%;
    padding: 12px 10px ;
    margin: 0px 0;
    box-sizing: border-box;
     border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 13px;
        
        
}
    button {
           width: 100%;
    padding: 12px 20px 12px 40px;
    margin: 8px 0;
    box-sizing: border-box;
  border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        
        }
 p{
               font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3"; 
               font-size: 17px; 
                 color:#777;
                 font-weight: bold;
}